header {
  width: 100%;
  border-bottom: 5px solid #FFAD29; /* gold */
  position: relative; }

nav {
  border-bottom: 2px solid #FFAD29; /* gold */
  margin: -1em auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

nav ul li {
  display: inline-block;
  margin: auto 2em auto 2em; }

h1 {
  text-shadow: -3px 1px #FF2151; }

.backbody {
  background-color: #FF2151; /* pink */
  padding: 0.5em 2em 0.5em 2em;
}

.pagecontent {
  background-color: #FFF;
  height: inherit;
  width: 960px;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

#toolbar, #artboard {
  display: inline;
}

footer {
  background-color: #1AB58A; /* blue-green */
  text-align: center;
  width: 100%;
  height: 3em;
  margin: auto;
  bottom: 0;
  left: 0;
  position: fixed;
}

/* NOTE TO SELF: Using Beach Umbrella color theme on Adobe Color CC */
