@media only screen and (max-width: 740px) {
  h1 {
    font-size: 12vw;
  }

  #toolSelector *, #colorSelector * {
    display: inline;
    width: 3em;
    height: 3em;
  }

  #toolbar {
    display: inline;
  }

  #artboard {
    margin-top: 0px;
  }
}
/* end media query */

#toolSelector, #colorSelector {
  width: 100%;
  text-align: center;
}

#toolSelector {
  margin-right: 0.5em;
}

#functionButton {
  display: inline;
  padding-left: 3em;
}

#toolbar {
  margin: 0 auto;
}

#toolbar img {
  width: 4em;
  height: 4em;
}

#toolbar img {
  display: inline;
}

#artboard {
    border: 2px solid #555;
    height: 500px;
    width: 740px;
    max-width: 100%;
    margin: auto;
    margin-top: 0.5em;
    position: relative;
    display: block;
    background-color: #fff;
}

/*#galleryPost {
  float: right;
  height: 2em;
  margin-top: -10em;
}*/

#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFEBCA;;
}

#splashscreen div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#splashscreen p {
  text-align: center;
  font-style: bold;
  color: #FF2151;
}

.splashtext {
  font-style: italic;
  font-size: 2em;
}

/* Colors for the palette!
Red: #FF0000;
Orange: #FFA500;
Yellow: #FFFF00;
Green: #008000;
Blue: #0000FF;
Purple: #4B0082
Pink: #EE82EE;
White: #FFFFFF;
*/
=======
a.button img, a.shapeSelector  img {
  -webkit-transition: all .01s ease;
     -moz-transition: all .01s ease;
       -o-transition: all .01s ease;
      -ms-transition: all .01s ease;
          transition: all .01s ease;
}

a.button img:active, a.shapeSelector img:active {
  -webkit-filter: blur(5px);
}
>>>>>>> 753ab8e68c00511830ee3a7242fedc9f2d0335db
