@media only screen and (max-width: 640px) {
  h1 {
    font-size: 12vw;
  }
}

#artboard {
  border: solid;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

a.button img, a.shapeSelector  img {
  -webkit-transition: all .01s ease;
     -moz-transition: all .01s ease;
       -o-transition: all .01s ease;
      -ms-transition: all .01s ease;
          transition: all .01s ease;
}

a.button img:active, a.shapeSelector img:active {
  -webkit-filter: blur(5px);
}
