@media only screen and (max-width: 740px) {
  h1 {
    font-size: 12vw;
  }

.highlight {
  border-bottom: 2px solid #FFAD29;
}
  #toolSelector *, #colorSelector * {
    display: inline;
    width: 3em;
    height: 3em;
  }

  #toolbar {
    display: inline;
    width: 100%;
    margin: 0 auto;
  }

  #artboard {
    margin-top: 0px;
  }
}
/* end media query */

#toolSelector, #colorSelector {
  width: 100%;
  margin: 0 auto;
  display: inline;
}

#toolSelector {
  margin-right: 0.5em;
}

#functionButton {
  display: inline;
  padding-left: 3em;
}

#toolbar img {
  width: 3em;
  height: 3em;
  display: inline;
  text-align: center;
}

#artboard {
    border: 2px solid #555;
    height: 500px;
    width: 740px;
    max-width: 100%;
    margin: auto;
    margin-top: 0.5em;
    position: relative;
    display: block;
    background-color: #fff;
}

/* Splash screen rules - not in use */
#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEBCA;;
}

#splashscreen div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#splashscreen p {
  text-align: center;
  font-style: bold;
  color: #FF2151;
}

.splashtext {
  font-style: italic;
  font-size: 2em;
}

a.button img, a.shapeSelector  img {
  -webkit-transition: all .01s ease;
     -moz-transition: all .01s ease;
       -o-transition: all .01s ease;
      -ms-transition: all .01s ease;
          transition: all .01s ease;
}

a.button img:active, a.shapeSelector img:active {
  -webkit-filter: blur(5px);
}
